{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

<h1>Players</h1>


{% for label, messages in app.flashes(['success', 'warning', 'error']) %}
{% for message in messages %}
<div class="alert alert-{{ label }}">
    {{ message }}
</div>
{% endfor %}
{% endfor %}


{% include "player/_submenu.html.twig" %}

<div class="row mt-3 ms-2" id="item-list">
{% for item in players %}
<div class="card col-lg-2 m-1 p-0 col-sm-12 col-md-6 list-item">
    <div class="card-header">{{ item.firstname }} {{ item.lastname }}</div>
    <div class="card-body">
        <ul>
            {% for team in item.category %}
                 <li>{{ team.title }}</li>
            {% endfor %}
         </ul>
    </div>
    <div class="cardLink text-end">
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a class="btn btn-sm btn-info col-lg-5 col-sm-12 col-md-12 m-1" href="{{ path('app_player_edit', {'id':item.id}) }}">
                <i class="fa-solid fa-user-pen"></i>
                Edit
            </a>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>


{% endblock %}


{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('search');
    const itemList = document.getElementById('item-list');
    const listItems = document.querySelectorAll('.list-item');

    searchInput.addEventListener('keyup', function () {
        const searchTerm = searchInput.value.toLowerCase();

        listItems.forEach(function (item) {
            const content = item.textContent.toLowerCase();

            if (content.includes(searchTerm)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}
