

    <div class="nav-wrapper">
        <ul class="nav-menu">
            <li>
                <a href="{{ path('app_training_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span class="nav-link-text">All</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_training_new') }}">
                    <i class="fa-solid fa-plus-circle"></i>
                    <span class="nav-link-text">New</span>
                </a>
            </li>

            {% for category in categories %}
            <li>
                <a href="{{ path('app_training_category', {'category':category.id}) }}">
                    <i class="fa-solid fa-futbol"></i>
                    <span class="nav-link-text">{{ category.title }}</span>
                </a>
            </li>
            {% endfor %}
            
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
            <li>
                <a href="{{ path('app_training_delete_all_training') }}">
                    <i class="fa-solid fa-trash-can"></i>
                    <span class="nav-link-text">Del. All</span>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>

 <br>
 <br>