{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheet %}{% endblock %}

{% block body %}

<h1>User</h1>


{% for label, messages in app.flashes(['success', 'warning', 'error']) %}
{% for message in messages %}
<div class="alert alert-{{ label }}">
    {{ message }}
</div>
{% endfor %}
{% endfor %}


{% include "user/_submenu.html.twig" %}

<div class="row mt-3 ms-2" id="user-list">
{% for item in users %}

<div class="card col-lg-2 m-1 p-0 col-sm-12 col-md-6 user-item">
    <div class="card-header">{{ item.email }}</div>
    <div class="card-body">
        <ul>
            {% for role in item.roles %}
                 <li>{{ role }}</li>
            {% endfor %}
         </ul>
    </div>
    <div class="cardLink text-end">
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <a class="btn btn-sm btn-info col-lg-5 col-sm-12 col-md-12 m-1" href="{{ path('app_user_edit', {'id':item.id}) }}">
                <i class="fa-solid fa-user-pen"></i>
                Edit
            </a>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>


{% endblock %}


{% block javascripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('search');
    const userList = document.getElementById('user-list');
    const userItems = document.querySelectorAll('.user-item');

    searchInput.addEventListener('keyup', function () {
        const searchTerm = searchInput.value.toLowerCase();

        userItems.forEach(function (item) {
            const email = item.textContent.toLowerCase();
            const roles = Array.from(item.querySelectorAll('li')).map(role => role.textContent.toLowerCase());

            if (email.includes(searchTerm) || roles.some(role => role.includes(searchTerm))) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock %}
